h1 {
  font-size: 48px;
  @media (max-width: 725px) {
    font-size: 36px;
  }
  @media (max-width: 475px) {
    font-size: 30px;
  }
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

section:nth-child(4) {
  background-color: black;
}

section:nth-child(6) {
  background-color: black;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 32px;
  @media (max-width: 1275px) {
    flex-direction: column-reverse;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
  @media (max-width: 1275px) {

  }
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100%;
  @media (max-width: 1275px) {
    position: static;
    gap: 24px;
  }
}

.hero-links {
  display: flex;
  gap: 48px;
  @media (max-width: 725px) {
    gap: 16px;
  }
  .hero-icon {
    justify-content: center;
    width: 64px;
    height: 64px;
    font-size: 52px;
    @media (max-width: 725px) {
      width: 48px;
      height: 48px;
      font-size: 37px;
    }
  }

}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: #00000000;
  @media (max-width: 1275px) {
    font-size: 20px;
    max-width: 100%;
  }
  @media (max-width: 725px) {
    font-size: 16px;
  }

}

.hero-image {
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1275px) {
    margin: 0;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.white {
  color: white;
  padding: 100px 0;
  @media (max-width: 1275px) {
    padding: 100px 32px;
  }
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #FFF;
  .header-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .card-header {
    font-size: 30px;
    @media (max-width: 955px) {
      font-size: 24px;
    }
    @media (max-width: 725px) {
      font-size: 18px;
    }
  }
  .card-description {
    font-size: 18px;
    @media (max-width: 775px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
  .experience-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  @media (max-width: 1275px) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
}
.avatar-wrapper {
  @media (max-width: 1275px) {
    flex-shrink: 0 ;
  }
}
.about-content {
  .header {
    text-align: left;
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #00000099;
    @media (max-width: 1275px) {
      line-height: 24px;
    }
    @media (max-width: 725px) {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  gap: 124px;
  @media (max-width: 1275px) {
    flex-direction: column;
    gap: 24px;
  }
  .project-image {
    height: 338px;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 495px;
    .number {
      font-size: 48px;
      @media (max-width: 725px) {
        font-size: 36px;
      }
    }
    .project-title {
      font-size: 30px;
    }
    .project-description {
      color: #FFFFFF99;
      @media (max-width: 725px) {
        font-size: 15px;
        line-height: 22px;
      }

    }
  }
  .more-btn {
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    margin-right: auto;
  }
}

.project:nth-child(even) {
  .project-image {
    order: 1;
    @media (max-width: 1275px) {
      order: inherit;
    }
  }
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 880px;
  @media (max-width: 1275px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 955px) {
    max-width: 598px;
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
    @media (max-width: 1275px) {
      width: 880px;
      line-height: 100%;
      font-weight: 700;
    }
    @media (max-width: 725px) {
      width: 440px;
      font-size: 36px;
    }
    @media (max-width: 475px) {
      width: 320px;
    }
  }
  .description {
    margin: 32px 0;
    color: #00000099;
    line-height: 24px;
    @media (max-width: 1275px) {
      width: 880px;
      font-size: 16px;
      font-weight: 400;
    }
    @media (max-width: 955px) {
      width: 646px;
      font-size: 16px;
      font-weight: 400;
    }
    @media (max-width: 725px) {
      width: 440px;
      font-size: 15px;
      line-height: 22px;
      font-weight: 400;
    }
    @media (max-width: 475px) {
      width: 320px;
    }
  }
}

.call-me {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  @media (max-width: 1275px) {
    flex-direction: column-reverse;
  }
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
  @media (max-width: 1275px) {
    width: 836px;
    line-height: 100%;
  }
  @media (max-width: 955px) {
    width: 602px;
  }
  @media (max-width: 725px) {
    width: 396px;
  }
  @media (max-width: 475px) {
    width: 276px;
  }
}

.email {
  margin-bottom: 12px;
}

.skills-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.skills-item {
  flex: 0 0 186px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  transition:
          background-color 0.3s ease,
          transform 0.3s ease,
          box-shadow 0.3s ease;
  cursor: pointer;
  i {
    font-size: 48px;
  }
  p {
    font-size: 18px;
    font-weight: 800;
  }
  &:hover {
    background-color: #000;
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);

    &:hover i,
    &:hover p {
      color: #fff;
    }

    i {
      font-size: 40px;
      color: #000;
      transition: color 0.3s ease;
    }

    p {
      color: #000;
      transition: color 0.3s ease;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
    }
  }
}
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 955px) {
    display: none;
  }
}
.mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 955px) {
    display: flex;
  }
}
.nav-list {
  display: flex;
  gap: 48px;

}
.resume-btn {
  padding: 17px 20px;
  border-radius: 8px;
  color: white;
  background-color: black;
}
.menu-btn {
  background-color: transparent;
  font-size: 19px;
}
a {
  color: #1a1a1a;
  &:hover {
    color: #555555;
  }
}
.form {
  display: flex;
  flex-direction: row;
  width: 495px;
  gap: 20px;
  @media (max-width: 1275px) {
    width: 880px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 955px) {
    width: 640px;
  }
  @media (max-width: 725px) {
    width: 440px;
  }
  @media (max-width: 475px) {
    width: 320px;
  }
}
input {
  display: block;
  font-size: 20px;
  padding: 8px 16px;
  height: 57px;
  border-radius: 8px;
  border: solid 1px #000000;
  margin-bottom: 20px;
  @media (max-width: 1275px) {
    width: 880px;
  }
  @media (max-width: 955px) {
    width: 640px;
  }
  @media (max-width: 725px) {
    width: 440px;
    margin-bottom: 16px;
  }
  @media (max-width: 475px) {
    width: 320px;
  }
}
textarea {
  display: block;
  font-size: 20px;
  height: 200px;
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 1px #000000;
  resize: none;
  margin-bottom: 20px;
  @media (max-width: 1275px) {
    width: 880px;
  }
  @media (max-width: 955px) {
    width: 640px;
  }
  @media (max-width: 725px) {
    width: 440px;
  }
  @media (max-width: 475px) {
    width: 320px;
  }
}

.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
}

.form-item {
  display: flex;
  align-items: center;
  gap: 24px;
  @media (max-width: 725px) {
    flex-wrap: wrap;
  }

  .form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: solid 1px black;
    font-size: 44px;
    border-radius: 8px;
    @media (max-width: 725px) {
      width: 48px;
      height: 48px;
      font-size: 36px;
    }
  }
}
.form-btn {
  display: block;
  width: 143px;
  border-radius: 8px;
  padding: 16px 20px;
  gap: 8px;
  background-color: black;
  color: #ffffff;
  flex-shrink: 0;
  @media (max-width: 1275px) {
    width: 528px;
    height: 64px;
  }
  @media (max-width: 955px) {
    width:294px;
  }
  @media (max-width: 725px) {
    width: 440px;
  }
  @media (max-width: 475px) {
    width: 320px;
  }
  .form-btn-description {
    font-size: 16px;
    width: 104px;
    font-weight: 800;
    line-height: 100%;
  }
}

.form-links {
  display: flex;
  gap: 24px;
}
.footer_inner {
  background-color: #000;
  margin-top: 100px;
  @media (max-width: 1275px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-inner {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer-logo {
  height: 32px;
  object-fit: contain;
}

.footer-line {
  flex-grow: 1;
  height: 1px;
  border-bottom: 1px dashed #4d4d4d;
}

section:last-of-type {
  margin-bottom: 0;
}

